body{
    

}
.top_container{
    margin: 0px;
    width:100%;
    height:650px;
    background-color: #FD8A8A;
    border:solid 4px;
    border-color: black;
}
.title{
    position: relative;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 7rem;
    top: 60px;
}
.title_description{
    position: relative;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 3rem;
    top: 60px;

}

.toast{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast.active{
    transform: translateX(0%);
}
.toast .toast-content{
    display: flex;
    align-items: center;
}
.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}
.message .text.text-1{
    font-weight: 600;
    color: #333;
}
.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toast .close:hover{
    opacity: 1;
}
.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}
.progress.active:before{
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100%{
        right: 100%;
    }
}
.toast.active ~ button{
    pointer-events: none;
}



.product_photo{
    position: relative;
    bottom: 200px;
    left:35%;
    margin-block: 0px;
    width: 400px;
    
}
.navbar-brand{
    margin-left: 30px;
}
.mid_container{
    
    background-color: #f5e8c7;
    position: absolute;
    border-color: black;
    border:solid 4px;
    border-top: 0px;
    border-bottom: 0px;
    width: 100%;
    height: auto;
    
    
    
}
.myCarousel{
    width: 100%;
    height: 900px;

}
.product_description{
    width: 100%;
    height: 500px;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 70px;
    top: 140px;


}

.product_specification{
    
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 100px;


}
.carousel-control-prev-icon{
    color: #FD8A8A;
}
.carousel-indicators li {
    background-color: red;
  }
  .carousel-indicators .active {
    background-color: blue;
  }

.btn{
    font-size: 40px;
}


.feature_photos{
    width: 200px;
}
.bottom_container{
    position: relative;
    border-color: black;
    border-top:solid 4px;
    border-bottom:solid 4px;
    
    background-color: #9ea1d4;
    width: 100%;
    height: 150px;


}
.about{
    position: relative;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    top: 60px;
}